{% extends 'base.html.twig' %}

{% block title %}Edit Fichiers{% endblock %}

{% block body %}
    <h1>Edit Fichiers</h1>

    {{ include('fichiers/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_fichiers_index') }}">back to list</a>

    {{ include('fichiers/_delete_form.html.twig') }}
{% endblock %}
